<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aufgaben</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/task.css">

</head>
<body>
<div class="task_container">
    <h2>Aktuelle Aufgaben</h2>
    <h2>Erledigte Aufgaben</h2>
</div>

<div class="task_card">
    <p class="task_name">Musterschule 1</p>
    <p class="task_date">28.12.2025</p>
    <div class ="persons">
        <p class="task_person">Yousuf</p>
        <p class="task_person">Moritz</p>
    </div>

    <p class="task_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec pur</p>
    <!--  <p class ="task_status">Erledigt</p> -->

</div>
<div class="task_card">
    <p class="task_name">Musterschule 2</p>
    <p class="task_date">28.12.2025</p>
    <div class ="persons">
        <p class="task_person">Yousuf</p>
        <p class="task_person">Moritz</p>
    </div>

    <p class="task_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec pur</p>
    <!--  <p class ="task_status">Erledigt</p> -->
</div>
</body>
</html>
